
  body{
  	font-family: 'gotham book';
  	color:#fff;
  	font-size: 15px;
  }

  .main{
  	max-width:480px;
  	margin:0 auto;
  }
  .sec1{
  	background: #01b0b5;
  }
.sec1 p {
    display: inline-block;
    font-size: 1.5em;
    margin: 0;
    padding: 3% 15px;
	font-weight:700;
}
.sec1 img {
    width: 25px;
    margin: -10px 0 0 15px;
}
.sec2 {
    background: #666666;
    padding: 7% 2% 2% 0;
}
  .sec2 p,
  .sec4 p{
  	text-align: center;
  	margin-bottom: -3px;
  }

.sec2 i {
    background: #99cc00;
    float: right;
    padding: 3px 7px;
    margin-top: 5px;
    font-style: normal;
}
  .sec3{
  	background: #f0f0f0;	
  	color:#6e6e6e;
	min-height:420px;
  }

    .sec4{
  	background: #1400aa;	
  	    padding: 20px 15px;
  }
  .sec4 p{
font-size: 1.4em;

  }
.cust_head {
    background: white;
    box-shadow: 0 8px 6px -6px #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.table>tbody>tr>td {
    border-top: none!important;
}
.table {
    margin-bottom: 0!important;
}
.nav-tabs-custom .container {
   padding: 0!important;
}
.nav-tabs-custom .container .header{
padding: 8px 15px;
   background-color: #5262bc;
   color: #fff;
   font-size: 18px;
}
.nav-tabs-custom .container .content{
padding-top:15px;
min-height: auto;
}
<style>
.skin-purple .sidebar-menu>li.header {
    color: #fff;
}
.sidebar-menu li.header {
    font-size: 14px;
}
.form-group label {
    text-transform: uppercase;
width:100%
}
.submit-bottom {
    border-top: 1px solid #ccc;
    padding-top: 2%;
    margin-top: 2%;
}
.submit-bottom .btn {
    border-radius: 0!important;
    padding: 8px;
    min-width: 220px;
}
.btn-block {
    width: auto;
}
.skin-purple .main-header .logo {
    background-color: #222d32;
}
.skin-purple .main-header .logo:hover {
    background-color: #222d32;
}

ul.multiselect-container.dropdown-menu {
    max-height: 280px;
    overflow-y: scroll;
}
span.logo-lg b {
    float: left;
    text-transform: uppercase;
}
.img-wrap {
    border: 1px solid #ccc;
    display: inherit;
    padding: 8px;
}
.box-body{ padding: 10px 15px 20px 15px }
</style>
